<div class="container">
    {% if not current_recipe %}
    <h1> Try again</h1>
    {% else %}
    <h1>{{current_recipe.title}}</h1>
    <h3><a href="/">Homepage</a></h3>

    <details>

        <h2>Author: <a href="/author/{{ current_recipe.author.id }}/">{{current_recipe.author.name}}</a></h2>

        <p>Descritption: {{current_recipe.description}}</p>
        <p>Instructions: {{current_recipe.instructions}}</p>
        <p> Time: {{current_recipe.time}}</p>
        <a href="/favorite/{{current_recipe.id}}"> Add this recipe to your favorites! </a>

    </details>

    {% endif %}
    {% comment %} Help from Sohail with this logic. {% endcomment %}
    {%if current_recipe.author.user == request.user or request.user.is_staff == True%}
    <a href='/recipe/{{current_recipe.id}}/edit/'>Edit your recipe! </a>
    {%endif%}

</div>