<div class="container">
    {% if not current_recipe %}
    <h1> Try again</h1>
    {% else %}
    <h1>{{current_recipe.title}}</h1>
    <h3><a href="/">Homepage</a></h3>

    <details>

        <h2>Author: <a href="/author/{{ current_recipe.author.id }}/">{{current_recipe.author.name}}</a></h2>

        <p>Descritption: {{current_recipe.description}}</p>
        <p>Instructions: {{current_recipe.instructions}}</p>
        <p> Time: {{current_recipe.time}}</p>


    </details>

    {% endif %}
</div>